<launch>
  <node pkg="ROSJAUS" type="ROSJAUS" name="IGVC_JAUS" output="screen">
  <param name="JAUS_COP_ID"      value="42"/>
  <param name="Robot_JAUS_ID"    value="123"/>
  <param name="Robot_Name"       value="UDM Cerberus"/>
  
	<!--  Use move_base_max_acc to adjust you want to stop at waypoint or fly by  -->
  <param name="move_base_max_acc" value="4"/>
  <param name="move_base_max_acc_last_waypoint" value="2"/>


	<!-- If you have speed more the 1.9 m/s , set distance_epsilon in JAUS high like 1.0 meter -->
	<!-- If you drive in low speed like 1.0 m/s , set distance_epsilon to 0.5 meter -->
	<!-- ex. in IGVC 2012 we drive max speed 1.9 m/s, distance_epsilon in JAUS is 1.6 meter,-->
  <param name="distance_epsilon" value="1.0"/>
  
  
  <param name="ROS_loop_rate_Hz" value="20."/>
  <remap from="odom"   to="JAUS_Odom"/>

  </node>
 </launch>
 
